<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/dd43574969.js" crossorigin="anonymous"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>SARAHVANHAUTE</title>
</head>

<body>
    <!-- Navbar -->
    <header class="header">

        <nav class="nav container">
            <a href="#home" class="nav-brand">SARAHVANHAUTE</a>

            <div class="nav-menu">
                <ul class="nav-list grid">
                    <!-- <li class="nav-item">
                        <a href="#home" class="nav-link">
                            <i class="nav-icon fa-solid fa-house"></i> Home
                        </a>
                    </li> -->
                    
                    <li class="nav-item">
                        <a href="#skills" class="nav-link">
                            <i class="nav-icon fa-solid fa-book"></i> Skills
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="#curriculum" class="nav-link">
                            <i class="nav-icon fa-solid fa-stairs"></i> Curriculum
                        </a>
                    </li>
                    
                    
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">
                            <i class="nav-icon fa-solid fa-comment"></i> Contact
                        </a>
                    </li>
                </ul>
                <i class="fa-solid fa-xmark nav-close""></i>
            </div>
            <div class=" nav-buttons">

                    <div class="nav-toggle">
                        <i class="fa-solid fa-grip-lines"></i>
                    </div>
            </div>
        </nav>

    </header>


    <main class="main">


        <!-- HOME_PAGE_START -->
        <section class="home section" id="home">
            <div class="home-container container grid">
                <div class="home-content grid">
                    <div class="home-social">
                        <a href="https://github.com/sdvhaute" class="home-social-link" target="_blank">
                            <!-- <i class="home-social-icon fa-brands fa-github"></i> -->
                        </a>
                        <a href="https://www.linkedin.com/in/sarah-van-haute/" class="home-social-link" target="_blank">
                            <!-- <i class="home-social-icon fa-brands fa-linkedin"></i> -->
                        </a>
                    </div>

                    <div class="home-img">
                        <img src="imgs/imgprofilepicnovsquare.jpg" alt="" class="profilepic">
                    </div>
                    <div class="home-info">
                        <h1 class="home-title">Hello, <br>I'm Sarah</h1>
                        <h3 class="home-subtitle">Frontend Developer</h3>
                        <!-- <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, tempora?
                            Quos eos iste dicta quas?</p> -->
                        <a href="#contact" class="button">
                            Contact me <i class="fa-solid fa-paper-plane button-icon"></i>
                        </a>
                        <a href="https://github.com/sdvhaute" class="home-social-link home-social-link-home" target="_blank">
                            <i class="home-social-icon fa-brands fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sarah-van-haute/" class="home-social-link home-social-link-home" target="_blank">
                            <i class="home-social-icon fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>


            </div>


        </section>



        <!-- HOME_PAGE_END -->


        <!-- SKILLS_START -->
        <section class="skills section" id="skills">

            <h2 class="section-title">Skills</h2>
            <span class="section-subtitle">My technical level</span>

            <div class="skills-container container">

                <!-- SKILLS: DEVELOPER START -->
                <div class="skills-content skills-closed">
                    <div class="skills-header">
                        <i class="fa-solid fa-2x fa-code skills-icon"></i>

                        <h1 class="skills-title">Frontend Developer</h1>
                        <!-- <span class="skills-subtitle"> --- </span> -->

                        <i class="fa-solid fa-2x fa-angle-down"></i>
                    </div>
                    <div class="skills-list grid">
                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">HTML</h3>
                                <span class="skills-grade">70%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-html"></span>
                            </div>
                        </div>

                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">CSS</h3>
                                <span class="skills-grade">70%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-css"></span>
                            </div>
                        </div>

                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">Javascript</h3>
                                <span class="skills-grade">60%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-javascript"></span>
                            </div>
                        </div>

                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">React</h3>
                                <span class="skills-grade">0%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-react"></span>
                            </div>
                        </div>

                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">PostgreSql</h3>
                                <span class="skills-grade">70%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-postgres"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SKILLS: DEVELOPER END -->
                <!-- SKILLS: DATA ANALYST START -->
                <div class="skills-content skills-closed">
                    <div class="skills-header">
                        <i class="fa-solid fa-2x fa-chart-bar skills-icon"></i>

                        <h1 class="skills-title">Data Analyst</h1>
                        <!-- <span class="skills-subtitle"> --- </span> -->

                        <i class="fa-solid fa-2x fa-angle-down"></i>
                    </div>
                    <div class="skills-list grid">
                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">R/R Studio</h3>
                                <span class="skills-grade">60%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-r"></span>
                            </div>
                        </div>

                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">SQL</h3>
                                <span class="skills-grade">90%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-sql"></span>
                            </div>
                        </div>

                        <div class="skills-data">
                            <div class="skills-titles">
                                <h3 class="skills-name">Power BI</h3>
                                <span class="skills-grade">50%</span>
                            </div>
                            <div class="skills-bar">
                                <span class="skills-perc skills-powerbi"></span>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- SKILLS: DATA ANALYST END -->

            </div>

        </section>

        <!-- SKILLS_END -->


        <!-- CURRICULUM_START -->
        <section class="curriculum section" id="curriculum">
            <h2 class="section-title">Education & Experience</h2>
            <span class="section-subtitle">
                My personal journey
            </span>
            <div class="curriculum-container container">
                <div class="curriculum-tabs">
                    <div class="curriculum-button curriculum-button-education button-flex curriculum-button-active">
                        <i class="fa-solid fa-2x fa-user-graduate curriculum-icon"> <span> Education</span></i>
                    </div>

                    <div class="curriculum-button curriculum-button-experience button-flex">
                        <i class="fa-solid fa-2x fa-briefcase curriculum-icon"> <span> Experience </span></i>

                    </div>
                </div>


                <div class="curriculum-sections">
                    <!-- CURRICULUM: EDUCATION START -->
                    <div class="curriculum-content curriculum-active curriculum-education">
                        <!-- curriculum event1 -->
                        <div class="curriculum-info event-left">
                            <div>
                                <div class="curriculum-dates">
                                    <i class="fa-solid fa-calendar"></i>
                                    2013-2017
                                </div>
                                <h3 class="curriculum-title">Bachelor of Science in</h3>
                                <h3 class="curriculum-title">Business Engineering</h3>
                                <span class="curriculum-subtitle">University of Ghent</span>

                            </div>
                            <div>
                                <span class="curriculum-circle"></span>
                                <span class="curriculum-line"></span>
                            </div>
                        </div>
                        <!-- curriculum event2 -->
                        <div class="curriculum-info">
                            <div></div>
                            <div>
                                <span class="curriculum-circle"></span>
                                <span class="curriculum-line"></span>
                            </div>
                            <div>
                                <div class="curriculum-dates">
                                    <i class="fa-solid fa-calendar"></i>
                                    2017
                                </div>
                                <h3 class="curriculum-title">Erasmus Exchange</h3>
                                <span class="curriculum-subtitle">University of Augsburg</span>

                            </div>

                        </div>
                        <!-- curriculum event3 -->
                        <div class="curriculum-info event-left">
                            <div>
                                <div class="curriculum-dates">
                                    <i class="fa-solid fa-calendar"></i>
                                    2017-2019
                                </div>
                                <h3 class="curriculum-title">Master of Science in </h3>
                                <h3 class="curriculum-title">Business Engineering:</h3>
                                <h3 class="curriculum-title"><em>Data Analytics</em></h3>
                                <span class="curriculum-subtitle">University of Ghent</span>

                            </div>
                            <div>
                                <span class="curriculum-circle"></span>
                            </div>
                        </div>

                    </div>
                    <!-- CURRICULUM: EDUCATION END -->


                    <!-- CURRICULUM: EXPERIENCE START -->
                    <div class="curriculum-content curriculum-experience">
                        <!-- curriculum event1 -->
                        <div class="curriculum-info event-left">
                            <div>
                                <div class="curriculum-dates">
                                    <i class="fa-solid fa-calendar"></i>
                                    2020-2021
                                </div>
                                <h3 class="curriculum-title">Category Analyst</h3>
                                <span class="curriculum-subtitle">Alpro</span>

                            </div>
                            <div>
                                <span class="curriculum-circle"></span>
                                <span class="curriculum-line"></span>
                            </div>
                        </div>
                        <!-- curriculum event2 -->
                        <div class="curriculum-info">
                            <div></div>
                            <div>
                                <span class="curriculum-circle"></span>
                                <!-- <span class="curriculum-line"></span> -->
                            </div>
                            <div>
                                <div class="curriculum-dates">
                                    <i class="fa-solid fa-calendar"></i>
                                    2021-2022
                                </div>
                                <h3 class="curriculum-title">Supply Chain Analyst</h3>
                                <span class="curriculum-subtitle">Honda Motor Europe Logistics</span>

                            </div>

                        </div>

                    </div>
                    <!-- CURRICULUM: EXPERIENCE END -->
                </div>
            </div>
            </div>

        </section>
        <!-- CURRICULUM_END -->




        <!--==================== CONTACT ME ====================-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Get in touch!</h2>
            <!-- <span class="section-subtitle"></span> -->

            <div class="contact-container container">
                <div>


                    <form action="" class="contact-form grid">
                        <div class="contact-inputs grid">
                            <div class="contact-content">
                                <label for="" class="contact-label">Name</label>
                                <input type="text" class="contact-input">
                            </div>
                            <div class="contact-content">
                                <label for="" class="contact-label">Email</label>
                                <input type="email" class="contact-input">
                            </div>
                        </div>
                        <div class="contact-content">
                            <label for="" class="contact-label">Message</label>
                            <textarea class="contact-input" name="" id="" cols="0" rows="7"></textarea>
                        </div>
                        <div><a href="#" class="button button-flex">
                                Send <i class="fa-solid fa-paper-plane button-icon"></i>
                            </a></div>

                    </form>
                </div>
            </div>


        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer-bg">
            <div class="footer-container container grid">
                <div>
                    <h1 class="footer-title">Sarah Van Haute</h1>
                    <h2 class="footer-subtitle">Frontend Developer</h2>
                </div>

                <ul class="footer-links">
                    <li>
                        <a href="#skills" class="footer-link">Skills</a>
                    </li>
                    <li>
                        <a href="#curriculum" class="footer-link">Curriculum</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer-link">Contact</a>
                    </li>
                </ul>

                <div class="footer-socials">
                    <a href="https://github.com/sdvhaute" class="footer-social-link" target="_blank">
                        <i class="home-social-icon fa-brands fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sarah-van-haute/" class="footer-social-link" target="_blank">
                        <i class="home-social-icon fa-brands fa-linkedin"></i>
                    </a>


                </div>

                <p class="footer-copyright">&#169 SarahVanHaute. All rights reserved</p>
            </div>

    </footer>

    <!--==================== SCROLL TOP ====================-->


    <!-- Script Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- Javascript -->
    <script src="scripts/index.js"></script>
</body>

</html>